.detailsparent-div {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 5%;
  background-color: #edededf0;
  text-align: start;
  margin-top: 78px;
}
.h1-details {
  font-size: 26px;
  font-family: "Sora", sans-serif;
}
.details-image {
  width: 700px;
  height: 500px;
  margin: 10px;
  /* image-rendering: auto; */
  /* image-rendering: crisp-edges; */

  mix-blend-mode: multiply;
}

.location-detail {
  font-weight: none;
  font-family: "Sora", sans-serif;
}
.far {
  color: black;
  text-decoration: none;
}
.desc-details {
  line-height: 1.5;
}

.image-detail {
  width: 100%;
  height: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  
}

.info-div {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 70px;
  margin-top: 0px;
  align-items: flex-start;
  
}
.top-detail {
  display: flex;
  gap: 20px;
  font-weight: none;
}
.description-tag {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.price-detail {
  font-family: "Sora", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1cm;
}

.rent-button {
  margin-top: 30px;
  padding: 20px;
  background-color: #dea01e;
  border-style: none;
  font-family: "Sora", sans-serif;
  color: white;
  font-weight: bold;
}

.description-div {
  margin-bottom: 20px;
}

.the-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.far.fa-edit.fa-2x {
  background: #dea01e;
  margin-top: 30px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .details-image {
    width: 70vw;
    height: 300px;
    display: flex;
    justify-content: center;
    /* margin: 20px; */
  }
  .detailsparent-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
     /* padding: 10%; */
    align-items: center; 
    background-color:#d2e0e8;
  }
  .info-div {
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    margin-right: 60px;
    border-radius: 50px;
    background-color: white;
    /* width: 100vw; */
    padding: 40px;
    width: 100%;
    height: 100vh;
    
  }
  .the-buttons{
   display: flex;
   flex-direction: column;
 align-items: center;
 width: 45vw;

  }
  .rent-button{
    border-radius: 20px;
    width: 70vw;
    padding: 25px;
    letter-spacing: 0.15em;

  }
  .far.fa-edit.fa-2x{
    border-radius: 20px;
    width: 60vw;
    padding: 25px;
    text-align: center;


 

  }
}
