
.hamburger {
  margin: auto 20px auto 0;
  border: none;
  font-size: 30px;
  background: none;
  cursor: pointer;
  z-index: 6;
}
.closeIcon {
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
align-content: center;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.2s;
  top: 0px;
  right: 0;
  background: #6ca4ed;
  color: white;
  list-style: none;
  padding: 15px;
  padding-top: 80px;
  z-index: 5;
}
.showMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
align-content: center;
  position: fixed;
  transform: translateX(0);
  transition: transform 0.2s;
  top: 0px;
  right: 0;
  background: #6ca4ed;
  color: white;
  list-style: none;
  padding: 15px;
  padding-top: 80px;
  z-index:auto;
  box-shadow: 0 0 5px black;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1973E8;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: auto;
  margin-right: 4%;
  font-size: x-large;
}

.link {
  color: black;
  text-decoration: none;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
 
}

.link-welcome {
  color: black;
  text-decoration: none;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
 margin-right: 60px;
}



.line{
  border-top: 3px solid black;
}


.link-items {
  color: black;
  text-decoration: none;
  padding-left: 20px;
  margin-right: 50px;
  margin: auto 30px auto 0;
}

.link-items:hover{
  text-decoration: underline;
}
.link:hover{
  text-decoration: underline;
}

.logo {
  margin-left: 4%;
}

.logo-link {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: xx-large;
  z-index: 1001;
  font-family: 'Roboto Slab', serif;
  display: flex;
  align-items: center;

}


@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  .nav {
    width: 100%;
  }
  .nav-links, .logo-link {
    font-size: 18px;
  }
  .logo {
    margin-left: 0%;
  }

  .logo-img{
    /* visibility: hidden; */
  }

  .link {
    margin-right: 8%;
    font-size: 10px;
  }
  .link-welcome{
    margin: auto 0;
  }
}