.main-container {
  background-color: #EDEDEDF0;
}

.landing {
  background-color: #EDEDEDF0;
  height: 90vh;
  display: flex;
  justify-content: center;
  margin-top: 78px;
}

.left-landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  height: 75vh;
  width: 75vw;
  margin-top: 5%;
  margin-right: 10px;
}

.call {
  position: inherit;
  bottom: 50px;
  /* border-radius: 2px; */
  align-items: center;
  color: black;
  box-shadow: 0px 0px 3px black;
   background-color: #dea01e;
   margin: 10%;
   display: flex;
   justify-content: center;
   height: 48px;
   width: 400px;
   margin-top: 30px;
   padding: 20px;
   border-style: none;
   font-family: "Sora", sans-serif;
   color: white;
   font-weight: lighter;
}

.call:hover {
  font-size: 20px;
}


.text-call:hover {
  color: white;
}
.text-call {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.glass {
  /* position: absolute; */
  /* top: 5vh; */
  /* left: 5vw; */
  /* background-color: rgba(125, 125, 125, 0.606); */
  /* padding: 10px; */
  margin-top: 80px;
  /* border-radius: 10px; */
  /* color: white; */
  font-size: 40px;
  font-weight: bold;
}

.landing-img {

  height: 75vh;
  width: 75vw;
  margin-top: 78px;

}

@media only screen and (max-width: 600px) {
  .landing-img {
    /* visibility: hidden; */
    display: none;
  }

  .text-call{
    font-size: 20px;
    
  }

  .call{
width: 70vw;
  }

  .left-landing{
    margin-left: 0;
  }

  /* .landing {
    margin-top: -10%;
  }

  .left-landing {
    margin-top: -10%;
  } */
}
