/* .listings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
} */

.listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.itemCards {
    border: solid;
    border-width: thin;
    height: fit-content;
    box-shadow: 2px 3px 5px;
    padding: 10px;
    background-color: #82A9DD;
    border-radius: 30px;
    text-decoration: none;
    width: 25vw;
}

.item-title {
    background-color: white;
    border-radius: 10px;
    height: auto;
}

.itemCards .listing-img {
    padding-top: 2%;
    height: 28vh;
    width: 22vw;
    border-radius: 20px;
    text-decoration: none;
    padding-bottom: 1%;
}

.img-desc {
    padding-top: 2%;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    width: contain;
    word-wrap: break-word;

}

.title-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#loc-details {
    height: 0px;
    visibility: hidden;
    transition-duration: 150ms;
}


.img-desc:hover #loc-details{
    height: 65px;
    /* transition-delay: 250ms; */
    visibility: visible;
    white-space: normal;
}    

.img-desc:hover .title-text{
  white-space: normal;
} 

.hidden-location{
    background-color: white;
    border-radius: 30px;
    display: inline;
}

@media only screen and (max-width: 600px) {
  .listings {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

}