.listings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px; 
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.itemCards {
    border: solid;
    border-width: thin;
    height: fit-content;
    box-shadow: 2px 3px 5px;
    padding: 10px;
    background-color: #82A9DD;
    border-radius: 30px;
    text-decoration: none;
    width: 30%;
}

.item-title {
    background-color: white;
    border-radius: 10px;
    height: auto;
}

.itemCards img {
    padding-top: 2%;
    height: 28vh;
    width: 28vw;
    border-radius: 20px;
    text-decoration: none;
    padding-bottom: 1%;
}

.img-desc {
    padding-top: 2%;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    width: contain;
}

#loc-details {
    height: 0px;
    visibility: hidden;
    transition-duration: 150ms;
}


.img-desc:hover #loc-details {
    height: 65px;
    /* transition-delay: 250ms; */
    visibility: visible;
}    

.hidden-location{
    background-color: white;
    border-radius: 30px;
    display: inline;
}