.addItem {
  display: flex;
  justify-content: center;
}

.create-form {
  background-color: #82a9dd;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  height: auto;
  width: auto;
  margin: 21px 0;
}

.top-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-title,
.input-category,
.input-price,
.input-location,
.input-imgURL,
.input-description {
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 0px 5px black;
}

.secondLine {
  width: 100%;
}

.thirdLine {
  width: 100%;
}

.input-title,
.input-category,
.input-price,
.input-location {
  width: 10vw;
  height: 35px;
  margin: 0 1vw;
}

.input-imgURL {
  height: 35px;
  width: 99%;
}

.input-description {
  height: 182px;
  width: 99%;
}

.submit-button {
  background-color: #dea01e;
  border-style: none;
  border-radius: 10px;
  height: 48px;
  width: 342px;
  box-shadow: 0px 0px 5px black;
}
.submit-button:hover {
  border-style: solid;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .top-line {
    flex-wrap: wrap;
  }
}
