.footer-container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid;
  bottom: 0;
}

.footer-link {
  color: black;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
