.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  font-weight: bold;
}

.image-section{
  margin: 15px;
height: auto;
}

.image-act{
  width: 300px;

}

.input-image{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 600px) {
 
 .image-act{
  width: 150px;
 }


}