.editItem {
  display: flex;
  justify-content: center;
}

.create-form-edit {
  background-color: #82a9dd;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  height: auto;
  width: auto;
  margin: 21px 0;
}

.top-line-edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-title-edit,
.input-category-edit,
.input-price-edit,
.input-location-edit,
.input-imgURL-edit,
.input-description-edit {
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 0px 5px black;
}

.secondLine-edit {
  width: 100%;
}

.thirdLine-edit {
  width: 100%;
}

.input-title-edit,
.input-category-edit,
.input-price-edit,
.input-location-edit {
  width: 10vw;
  height: 35px;
  margin: 0 1vw;
}

.input-imgURL-edit {
  height: 35px;
  width: 99%;
}

.input-description-edit {
  height: 182px;
  width: 99%;
}

.submit-button-edit,
.delete-button-edit {
  background-color: #dea01e;
  border-style: none;
  border-radius: 10px;
  height: 48px;
  width: 342px;
  box-shadow: 0px 0px 5px black;
  margin: 1%;
}
.submit-button-edit:hover,
.delete-button-edit:hover {
  border-style: solid;
  font-size: 20px;
}

.delete-button-edit {
  background-color: red;
}

@media only screen and (max-width: 600px) {
  .top-line-edit {
    flex-wrap: wrap;
  }
}
